Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data

In [2]:
import pandas as pd
import numpy as np

In [4]:
laliga=pd.read_csv('Desktop/machine learning and artificial intelligence/Laliga.csv')

In [5]:
laliga.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19
0,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1

In [6]:
laliga = laliga.replace('-',np.nan)
laliga.isna().sum()

Unnamed: 0      0
Unnamed: 1      0
Unnamed: 2      0
Unnamed: 3      1
Unnamed: 4      1
Unnamed: 5      1
Unnamed: 6      1
Unnamed: 7      1
Unnamed: 8      1
Unnamed: 9      1
Unnamed: 10    52
Unnamed: 11    48
Unnamed: 12    43
Unnamed: 13    39
Unnamed: 14    36
Unnamed: 15    33
Unnamed: 16    28
Unnamed: 17     0
Unnamed: 18     0
Unnamed: 19     0
dtype: int64

In [7]:
laliga.dtypes

Unnamed: 0     object
Unnamed: 1     object
Unnamed: 2     object
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6     object
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
Unnamed: 10    object
Unnamed: 11    object
Unnamed: 12    object
Unnamed: 13    object
Unnamed: 14    object
Unnamed: 15    object
Unnamed: 16    object
Unnamed: 17    object
Unnamed: 18    object
Unnamed: 19    object
dtype: object

In [9]:
laliga = laliga.replace(np.nan,0)
laliga.isna().sum()

Unnamed: 0     0
Unnamed: 1     0
Unnamed: 2     0
Unnamed: 3     0
Unnamed: 4     0
Unnamed: 5     0
Unnamed: 6     0
Unnamed: 7     0
Unnamed: 8     0
Unnamed: 9     0
Unnamed: 10    0
Unnamed: 11    0
Unnamed: 12    0
Unnamed: 13    0
Unnamed: 14    0
Unnamed: 15    0
Unnamed: 16    0
Unnamed: 17    0
Unnamed: 18    0
Unnamed: 19    0
dtype: int64

In [10]:

laliga.rename(columns=laliga.iloc[0], inplace=True)

In [11]:
laliga.drop([0],inplace=True)
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1

Print all the teams which have started playing between 1930-1980.

In [12]:
laliga1 = laliga[laliga['Debut']>='1930']
laliga2 = laliga1[laliga1['Debut']<='1980']

In [13]:
laliga2.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
6,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
9,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
10,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1
11,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,1,5,4,1,0,1,12,1941-42,2014-15,1


Print the list of teams which came Top 5 in terms of points

In [14]:
laliga['Points'] = laliga['Points'].astype(str).astype('int64')

In [15]:
laliga['Team'].head(5)

1        Real Madrid
2          Barcelona
3    Atletico Madrid
4           Valencia
5    Athletic Bilbao
Name: Team, dtype: object

In [ ]:
laliga.sort_values9['Points'],ascending


Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. Using the same function, find the team which has maximum and minimum goal difference

In [16]:
laliga['GoalsFor'] = laliga['GoalsFor'].astype(str).astype('int64')
laliga['GoalsAgainst'] = laliga['GoalsAgainst'].astype(str).astype('int64')

In [17]:
laliga.dtypes

Pos              object
Team             object
Seasons          object
Points            int64
GamesPlayed      object
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor          int64
GoalsAgainst      int64
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition     object
dtype: object

In [18]:
def Goal_diff_count():
    l = laliga['GoalsFor'] - laliga['GoalsAgainst']
    df = pd.DataFrame({'Team':laliga['Team'],'Goal-Diff':l})
    return(df,df[df['Goal-Diff']==df['Goal-Diff'].max()],df[df['Goal-Diff']==df['Goal-Diff'].min()])
df,mx,mn=Goal_diff_count()

In [19]:
mx['Team']

1    Real Madrid
Name: Team, dtype: object

In [20]:
mn['Team']

14    Racing Santander
Name: Team, dtype: object

In [21]:
df

                   Team  Goal-Diff
1           Real Madrid       2807
2             Barcelona       2786
3       Atletico Madrid       1225
4              Valencia        929
5       Athletic Bilbao        931
6               Sevilla        307
7              Espanyol       -280
8         Real Sociedad         -2
9              Zaragoza       -164
10           Real Betis       -333
11  Deportivo La Coruna       -136
12           Celta Vigo       -346
13           Valladolid       -413
14     Racing Santander       -525
15       Sporting Gijon       -399
16              Osasuna       -334
17               Malaga       -342
18               Oviedo       -309
19             Mallorca       -189
20           Las Palmas       -399
21           Villarreal        103
22              Granada       -338
23       Rayo Vallecano       -328
24                Elche       -272
25               Getafe       -113
26             Hercules       -334
27             Tenerife       -125
28               Murcia       -385
29               Alaves       -165
30              Levante       -202
..                  ...        ...
32             Sabadell       -228
33                Cadiz       -269
34             Logrones       -198
35            Castellon       -169
36             Albacete        -90
37              Almeria       -122
38              Cordoba       -145
39           Compostela        -42
40           Recreativo        -94
41            Burgos CF        -94
42           Pontevedra        -56
43             Numancia        -98
44                Eibar        -28
45               Arenas        -81
46          Real Burgos        -38
47            Gimnastic       -114
48          Extremadura        -55
49               Merida        -45
50             Alcoyano       -107
51                 Jaen        -62
52           Real Union        -31
53           AD Almeria        -45
54               Europa        -34
55               Lleida       -112
56              Leganes        -19
57                Xerez        -28
58               Condal        -20
59      Atletico Tetuan        -34
60     Cultural Leonesa        -31
61               Girona          0

[61 rows x 2 columns]

Create a new column with name “Winning Percent” and append it to the data set

In [22]:
laliga['GamesPlayed'] = laliga['GamesPlayed'].astype(str).astype('int64')
laliga.dtypes

Pos              object
Team             object
Seasons          object
Points            int64
GamesPlayed       int64
GamesWon         object
GamesDrawn       object
GamesLost        object
GoalsFor          int64
GoalsAgainst      int64
Champion         object
Runner-up        object
Third            object
Fourth           object
Fifth            object
Sixth            object
T                object
Debut            object
Since/LastApp    object
BestPosition     object
dtype: object

In [23]:
laliga['GamesWon'] = laliga['GamesWon'].astype(str).astype('int64')

In [24]:
laliga['Winning Percent']=(laliga['GamesWon']/ laliga['GamesPlayed'])*100

In [25]:
laliga['Winning Percent'].nunique

<bound method IndexOpsMixin.nunique of 1     59.630702
2     57.241130
3     47.475134
4     44.557057
5     43.772629
6     41.112957
7     36.100533
8     37.532580
9     35.146022
10    35.069444
11    36.797386
12    34.511190
13    31.582538
14    31.722689
15    32.304527
16    32.321700
17    31.075697
18    34.228188
19    33.704453
20    33.485401
21    41.176471
22    29.380054
23    28.987730
24    29.941003
25    32.236842
26    29.299363
27    31.376518
28    24.744027
29    32.894737
30    28.109453
        ...
32    30.281690
33    23.214286
34    27.745665
35    30.838323
36    28.148148
37    27.192982
38    29.078014
39    32.500000
40    26.881720
41    28.921569
42    29.444444
43    24.342105
44    30.701754
45    33.076923
46    22.807018
47    29.310345
48    25.000000
49    23.750000
50    27.777778
51    32.222222
52    29.166667
53    25.000000
54    33.333333
55    19.117647
56    21.052632
57    21.052632
58    23.333333
59    23.333333
60    16.666667
61          NaN
Name: Winning Percent, Length: 61, dtype: float64>

In [26]:
laliga['Winning Percent'] = laliga['Winning Percent'].replace(np.nan,0)

In [27]:
laliga['Winning Percent'].nunique

<bound method IndexOpsMixin.nunique of 1     59.630702
2     57.241130
3     47.475134
4     44.557057
5     43.772629
6     41.112957
7     36.100533
8     37.532580
9     35.146022
10    35.069444
11    36.797386
12    34.511190
13    31.582538
14    31.722689
15    32.304527
16    32.321700
17    31.075697
18    34.228188
19    33.704453
20    33.485401
21    41.176471
22    29.380054
23    28.987730
24    29.941003
25    32.236842
26    29.299363
27    31.376518
28    24.744027
29    32.894737
30    28.109453
        ...
32    30.281690
33    23.214286
34    27.745665
35    30.838323
36    28.148148
37    27.192982
38    29.078014
39    32.500000
40    26.881720
41    28.921569
42    29.444444
43    24.342105
44    30.701754
45    33.076923
46    22.807018
47    29.310345
48    25.000000
49    23.750000
50    27.777778
51    32.222222
52    29.166667
53    25.000000
54    33.333333
55    19.117647
56    21.052632
57    21.052632
58    23.333333
59    23.333333
60    16.666667
61     0.000000
Name: Winning Percent, Length: 61, dtype: float64>

In [28]:
laliga.head()

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Winning Percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,23,8,8,3,4,79,1929,1929,1,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,25,12,12,4,6,83,1929,1929,1,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,8,16,9,7,6,56,1929,2002-03,1,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,6,10,11,10,7,50,1931-32,1987-88,1,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,7,10,5,8,10,49,1929,1929,1,43.772629


Group teams based on their “Best position” and print the sum of their points for all positions

In [29]:
laliga['Points'] = laliga['Points'].astype(str).astype('int64')
laliga.dtypes

Pos                 object
Team                object
Seasons             object
Points               int64
GamesPlayed          int64
GamesWon             int64
GamesDrawn          object
GamesLost           object
GoalsFor             int64
GoalsAgainst         int64
Champion            object
Runner-up           object
Third               object
Fourth              object
Fifth               object
Sixth               object
T                   object
Debut               object
Since/LastApp       object
BestPosition        object
Winning Percent    float64
dtype: object

In [30]:
l = laliga.groupby(['BestPosition'])
l['Points'].sum()

BestPosition
1     27933
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
2      6904
20       34
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
Name: Points, dtype: int64